.cabeçalho {
    background-color: rgb(31, 9, 155);
}
.cabeçalho-título1 {
    color: beige;
}
.cabeçalho-título2 {
    color: rgb(255, 252, 71);
}
.Página-Principal {
    color: aliceblue;
}
.Quem-Somos {
    color: aliceblue;

}